body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: "BBH Sans Bartle", Arial, sans-serif;
    background-image: url("img/fullsize/fondo-eladio-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgenes-pequenas {
    width: 300px;
    height: 300px;
    border: 5px solid #000000;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.item:hover {
    transform: scale(1.2);
}

.titulo {
    margin-top: 10px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    padding-top: 2%;
    width: 150px;
    height: 25px;
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

a {
    color: inherit;
    text-decoration: none;
}

.header1 {
    display: flex;
    justify-content: center;
    background-color: #000000e3;
    color: white;
    padding: 0 300px 0 300px;
    text-align: center;
    align-items: center;
}


.pie {
    display: flex;
    background-color: #000000e3;
    justify-content: center;
    padding: 20px 300px 20px 300px;
}

.pie h3 {
    width: 200px;
    padding: 0 0 0 0;
}


.container-card1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images/templo.jpg");
    background-size: cover;
    background-position: center;
    width: 309.39px;
    height: 246.07px;
    display: flex;
    justify-content: flex-end;
}

.container-card1 h2 {
    font-weight: 800;
    margin-bottom: 10px;
}

.container-card1 p {
    margin-top: 0px;
    font-size: 11.22px;
    font-weight: 100;
}

.texto-card1 {
    margin-top: 90px;
    margin: 90px 60px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
    font-family: ;
}

.container-card1 button {
    margin-top: 200px;
    margin-right: 5px;
    border-radius: 24.85px;
    border: 1px solid #ffffff;
    width: 101.76px;
    height: 34.47px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 11.82px;
    font-weight: 600;
}


.container-card2 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fondo-card2.jpg");
    background-size: cover;
    background-position: center;
    width: 302.97px;
    height: 240.96px;
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    text-align: center;
    align-items: center;
    line-height: 10px;
    padding-top: 70px;
}

.container-card2 img {
    border-radius: 100px;
    width: 42.38px;
    height: 42.38px;
    border: 1px solid #0983e0;
    background-size: cover;
    background-position: center;
    background: no-repeat;
    margin-top: 10px;
}

.container-card2 h1 {
    font-weight: 500;
    font-size: 40px;
}


.container-card3 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fondo-card3.jpg"); /*Para oscurecer el fondo y poner un fondo*/
    background-size: cover;
    width: 201.2px;
    height: 246.24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Poppins;
    padding: 170px 50px 5px 15px;
    font-size: 14.01px;
    font-weight: 700;
}


.container-card4 {
    background-image: url("../images/foto-card4.jpg");
    background-size: cover;
    background-position: center;
    width: 146.51px;
    height: 158.03px;
    display: flex;
    flex-direction: column; /*direccion del los objetos en columna(hacia abajo)*/
    text-align: center; /*centrar texto*/
    align-items: center; /*centrar items*/
    line-height: 10px; /*Espacio entre lineas*/
    padding-top: 70px; /*Espacio interior de arriba*/
}

.card4 {
    color: #000000;
    width: 146.51px;
    height: 88.32px;
    font-size: 11.52px;
    font-family: ;
}

.texto-azul {
    color: #00aeff;
    margin-bottom: 0;
}

.puntuacion {
    height: 16px;
    width: 22px;
    background-color: #32a636;
    border-radius: 5px;
    color: #ffffff;
    padding: 2px;
    margin: 5px;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
         url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}